<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://example.com/favicon.png">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="../App.css">

  </head>
  <body>
      <div class="body">



      <div class="container">

        <div class="card" style="display: none;">
          <div class="card-body">
            <div class="web-logo text-center">
              <span class="logo"><i class="far fa-heart"></i> Beside You</span>
            </div>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-sm btn-block">Sign In ?</button>
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input type="radio" class="form-check-input">
                  Remember me .....
                </label>
              </div>
            </form>
          </div>

          <div class="card-footer text-muted">
            Don't have an account? <a href="#">Sign up</a>
          </div>
        </div>



        <div class="card" style="display: block;">
          <div class="card-body">
            <div class="image">

            </div>
          </div>
          <div class="card-body">
            <div class="form">
              <div class="form-group">
                <input type="text" class="form-control" id="mameInput" aria-describedby="NameHelp" placeholder="Your Name ?">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-sm btn-block">Sign Up !</button>
            </div>
          </div>

          <div class="card-footer text-muted">
            Already have an account? <a href="#">Sign In</a>
          </div>
        </div>




        <div class="card" style="display: none;">
          <div class="card-body">
            <div class="web-logo text-center">
              <span class="logo">Invite</span>
              <p class="instruction-helper">Pair up with your partner by entering their email address</p>
            </div>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              <button type="submit" id="signUp-btn" class="btn btn-sm btn-block">Sign Up !</button>
              <button type="submit" id="signOut-btn" class="btn btn-sm btn-block">Sign Out !</button>
            </form>
          </div>

          <div class="card-footer text-muted text-center">
            We'll meet again some day, on the avenue
          </div>
        </div>


        <div class="card" style="display: none;">
          <div class="card-body">
            <div class="web-logo text-center">
              <span class="waiting-helper">Waiting for Parter</span>
              <p class="instruction-helper">Waiting for to accept your invite.</p>
            </div>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              <button type="submit" id="cancelInvite-btn" class="btn btn-sm btn-block">Cancel Invite !</button>
              <button type="submit" id="signOut-btn" class="btn btn-sm btn-block">Sign Out !</button>
            </form>
          </div>

          <div class="card-footer text-muted text-center">
            <p>She still lives inside of me</p> <p>We've never been apart</p>
          </div>
        </div>








      </div>


    </div>
  </body>
</html>
